*.log
*.aux
*.out
*.snm
*.toc
*.nav
*.bbl
*.blg
/report/auto
/slides/auto
/slides/tum.png
/papers
/tut

/slides/slides.pdf
/report/report.pdf

slides/images/example*
slides/images/impl_*
report/images/figure_5*